<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--        <tr>-->
<!--            <td style="width:20px">id</td>-->
<!--            <td style="width:100px">name</td>-->
<!--            <td style="width:100px">search_engine</td>-->
<!--            <td style="width:100px">keyword_search</td>-->
<!--            <td style="width:100px">page_num</td>-->
<!--            <td style="width:100px">status</td>-->

<!--        </tr>-->
<!--        <tr>-->
<!--            <td style="width:20px">{{ athlete.id }}</td>-->
<!--            <td style="width:100px">{{ athlete.name }}</td>-->
<!--            <td style="width:100px">{{ athlete.search_engine }}</td>-->
<!--            <td style="width:100px">{{ athlete.keyword_search }}</td>-->
<!--            <td style="width:100px">{{ athlete.page_num }}</td>-->
<!--            <td style="width:100px">{{ athlete.status}}</td>-->

<!--        </tr>-->
    <form action="/updatetask2" method="get">
        <text>Id</text><input type="text" name="task_id">
        <p><text>Name</text><input type="text" name="name">
        <p><text>搜索平台</text><input type="text" name="search_engine">
        <p><text>关键词</text><input type="text" name="keyword">
        <p><text>页数</text><input type="text" name="page_num">
        <p><text>Status</text><input type="text" name="status">
        <p>
        <input type="submit" value="提交">
    </form>

</body>
</html>